  /* colors */
  .orange{

    color: #f36f21;
  }
  .gray{
    color: #a1a1a1;
  }
  .dark-gray{
    color: #797979;
  }
  .e-dark-gray{
    color: #555353;
  }
  .l-dark-gray{
    color: #a3a3a3;
  }
  .bg-color{
    background-color: #f36f21;
  }
  /* /colors */


  .navbar{
    padding-left: 15%;
    padding-right: 5%;
    font-size: 1.2rem;
    
  }
  .nav-links1{
    
    margin:0% 4% ;
  
  }
  .nav-item{
    margin: 0% 6%
  }
.home-bar1{
  margin: 5% 0% ;
  background-color: #e5e2e2;
}
.home-bar1 label {  
margin: 5px;
padding-left: 25%;
padding-right: 30%;
font-size : 25px ;
}
.page-status1{  
padding-top: 1%;
padding-right: 15%;
padding-left: 20%;
text-align: right;
font-size : 15px ;
box-sizing: border-box;
}
.bar{
  background-color: #f0ecece5;
}
.bar label {
color: #797878;  
margin: 5px;
padding-left: 25%;
padding-right: 30%;
font-size : 25px ;
}
.page-status{
color: #797878;  
padding-top: 1%;
margin-right: 25%;
padding-right:10%;
padding-left: 20%;
text-align: right;
font-size : 15px ;
margin-right: 0px;
box-sizing: border-box;
}
.footer-gourmet{
  padding: 1% 0%;
  
}
hr{
  background-color: #f36f21;
  height: 6px;
  margin-top: 5%;
}
.footer-img{
  margin: 10px 0px;
}
.footer-icons .fab{
 font-size: 30px;
 margin: 5px;
 color: #a1a1a1;
}
.footer-icons .fab:hover{
  color: #464646;
 }
.company{
  margin-top: 10px;
}
.company label{
  margin-top: 10px;
  font-size: 20px;
}
.copyright{
  justify-content: center;
  padding: 2px 0px;
  margin: 1px 0px;
}
a{
   color: #a1a1a1;
}
a:hover{
  
  color: #464646;
  
}
/* modal css */
#exampleModalCenter{
  background-color: #a1a1a1a6;

}
.modal-content{
  text-align: center;
}
.modal-btn{
  background-color: #eb6c23;
}
.modal-btn:hover {
  background-color: #f15a02;
}
 /* / modal  */
 .gallery-container{
   margin-top: 3%;
   padding: 5px;
 }