.product-cards img{
width: 17rem;
}
.product-cards label{
    font-size: 30px;
    
}
.product-container{
    margin-top: 50px
}
.product-row{
    margin-top: 40px
}

/* product hover effect */

.box{
    width: 400px;
    
    padding: 3px;
    overflow: hidden;
}
.box-img{
    display: block;
    position: relative;
}
.box-img img{
    width: 100%;
    height: auto;
}
.box-img:before,
.box-img:after,
.over-layer:before,
.box .over-layer:after{
    content: "";
    width: 50%;
    height: 50%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    transition: all 0.40s ease-in-out 0s ;
}
.box .box-img:before{
    left: -100%;
    top: 0;
}
.box:hover .box-img:before{
    left: 0%;
}
.box .box-img:after{
    right: 0%;
    top: -100%;
    background: rgba(255, 255, 255, 0.8);
}
.box:hover .box-img:after{
    right: 0%;
    top: 0%;
}
.over-layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center ;
}
.box .over-layer:before{
    left: 0;
    bottom: -100%;
    background: rgba(255, 255, 255, 0.8);
}
.box:hover .over-layer:before{
    bottom: 0%;
}
.box .over-layer:after{
    bottom: 0;
    right: -100%;
}
.box:hover .over-layer:after{
    right: 0%;
}
/* /product hover effect */


.product-div{
    margin-top: 15%;
}
.product-name{
    font-size: 25px;
    color: #555353;
    margin-top: 15px;
    margin-left: 10px;
}
.product-info{
    margin-left: 10px;   
}
